/* FLEXBOX */

#titre_principal
{
    display: flex;
    flex-direction: column;
}

#flex-container /* bloc Nav et Sections */
{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

}

.flex-item
{
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.flex-item:nth-child(1) /* nav */
{
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
}

.flex-item:nth-child(2) /* section */
{
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
}

.nav
{
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    vertical-align: middle;
    text-align: center;

}

.nav:nth-child(1) /* info perso */
{
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;

}

.nav:nth-child(2) /* me contacter */
{
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

.nav:nth-child(3) /* bouton cv */
{
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

#conteneur /* bloc section */
{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    background: grey;
}

.element:nth-child(1) /* Article : Mes compétences */
{
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
}

.element:nth-child(2) /* Article : Mes connaissances */
{
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
}

.element:nth-child(3) /* Article : Mes fotmations */
{
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
}

.element:nth-child(4) /* Article : Mes expériences professionnelles */
{
    -webkit-order: 4;
    -ms-flex-order: 4;
    order: 4;
}

.element:nth-child(5) /* Article : Mes centres d'intérêts */
{
    -webkit-order: 5;
    -ms-flex-order: 5;
    order: 5;
}





/* MISE EN PAGE */





body
{
	font-family: Verdana, Arial, sans-serif;
	background-color: #f2f2f2;
    text-align: center;
    margin: auto;
}

header
{
    margin: 0px 0px 6px 6px; /* top - right - bottom - left */
    border-bottom:1px solid #E4E4E4;
    text-align: left;
}

#flex-container /* bloc Nav et Sections */
{
    margin: 14px 4px 4px 4px; /* top - right - bottom - left */
}

nav
{
    background-color: #E4E4E4;
	border-radius: 10px;
	padding: 0px 10px 30px 10px; /* top - right - bottom - left */
	max-width: 240px;
}

p, ul
{
	font-size: 0.8em;
}

.gras
{
	font-weight: bold;
	color: #de4347;
}

.gras-left /* p à gauche */
{
    font-weight: bold;
    color: #de4347;
    text-align: left;
}

a
{
	color: black;
	text-decoration: none;
}

a:hover
{
	color: #de4347;
}

/*a:visited
{
	color: #999999;
}*/

ul
{
    list-style-type: none;
}

footer
{
    display: flex;
	padding: 200px;
	margin: 4px;
    border-top:1px solid #E4E4E4;
}





/* RESPONSIVE */





@media screen and (max-width: 1024px)

{

.nav
{
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}


	.element /* articles */
	{
		max-width: 1024px;
		height: auto;
	}

}